[submodule "mycloud-infraestructure"]
	path = mycloud-infraestructure
	url = https://github.com/LaunchRico/mycloud-infraestructure.git
[submodule "mycloud-data"]
	path = mycloud-data
	url = https://github.com/LaunchRico/mycloud-data.git
[submodule "mycloud-platform"]
	path = mycloud-platform
	url = https://github.com/LaunchRico/mycloud-platform.git
[submodule "mycloud-ui"]
	path = mycloud-ui
	url = https://github.com/LaunchRico/mycloud-ui.git
